@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

:root {
  --main-txt-color: #32785E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #555;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

html {
  position: relative;
  width: 320px;
  margin: 0 auto; 
  font-size: 10px;
  color: #555;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}