* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a { 
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 0 20px;
}

.logo img {
  width: 150px;
}

.gnb-list {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.gnb-itme a{
  color: #00ab58;
  font-weight: 700;
  font-size: 20px;
}

#data {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.weather,
.dust {
  display: flex;
  font-size: 14px;
}
