* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

header{
  text-align: center;
  margin: 20px;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.logo img {
  width: 100px;
  margin: 50px;
}

.visually-hidden {
  display: none;
}

.gnb {
  display: flex;
  margin: 50px;
  padding: 0 250px;
}

.gnb > li {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.gnb > li > a { 
  display: block;
  padding: 10px 30px;
  color: #32785E;
  font-weight: 700;
  transition: background-color 300ms ease-in-out;
  font-size: 20px;
}
.gnb > li > a:hover,
.gnb > li > a.on {
  background-color: rgb(255, 255, 255);
}

.sub {
  position: absolute;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 500ms ease-in-out;
}

.sub.active {
  max-height: 270px;
}

.sub li a {
  display: block;
  padding: 10px;
  transition: background-color 300ms ease-in-out;
  width: 150px;
  margin: 20px auto;
  padding: 5px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #585858;
}

.sub li a:hover {
  background-color: #73C16B;
  color: #fff;
}


.data {
  display: flex;
  width: 100%;
  position: absolute;
  top: 85px;
  left: 83%;
}

.weather,
.dust {
  display: flex;
}

.weather p,
.dust p {
  padding: 0 20px;
}
