.detail-list {
  padding: 1.5rem;
}

.detail-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.detail-item h2,
.detail-item span {
  margin: 0.5rem 0;
  font-size: 1.6rem;
  font-weight: 700;
}

.detail-item span {
  background-color: #FFF27E;
}

.detail-item p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  white-space: pre-line;
}

.detail-item:first-child {
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  background-color: #EEF6E3;
}

.detail-item:not(:first-child) {
  padding: 0 1.5rem;
}

.detail-item:first-child img {
  height: 12rem;
}

.detail-item:not(:first-child) img {
  width: 7.5rem;
  margin-top: 5rem;
}
