.map-title-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
}

.map-title {
  text-align: center;
}

.map-title p {
  font-size: 1.2rem;
}

.map-title h3 {
  font-size: 2rem;
  color: var(--main-txt-color);
}

.map-title-btn {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
}

.map-title-btn a svg {
  font-size: 2rem;
  color: #666;
}

.map {
  position: relative;
  width: 100%;
  height: calc(100vh - 12.7rem);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .1);
}

.location-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, .1);
  background-color: #fff;
  z-index: 5;
}

.location-box.active {
  height: 50%;
  overflow: hidden;
}

.location-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  cursor: pointer;
}

.location-list-icon svg {
  font-size: 2rem;
  color: #ccc;
}

.location-box .location-list-icon svg:first-child,
.location-box.active .location-list-icon svg:last-child {
  display: block;
}

.location-box .location-list-icon svg:last-child,
.location-box.active .location-list-icon svg:first-child {
  display: none;
}