.location-list {
  width: 100%;
  height: 90%;
  overflow-y: auto;
}

.location-item {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.location-item:not(:first-child) {
  display: none;
}

.location-box.active .location-item:first-child {
  display: none;
}

.location-box.active .location-item:not(:first-child) {
  display: block;
}

.location-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.location-info img {
  height: 4.5rem;
  margin-right: 1rem;
}

.location-info p:first-child {
  font-size: 1.4rem;
  font-weight: 700;
}

.location-info p span {
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 1rem;
  color: #fff;
  background-color: #108B52;
}

.location-info p:last-child {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.location-item-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.location-item-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  font-size: 1.2rem;
}

.location-item-btn a:first-child {
  margin-right: 1rem;
}